@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.background{
  background-image: url("../public/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "editorial";
  src: url("../public/PPEditorial.otf");
}

.font-editorial {
  font-family: "editorial";
}

:root {
  --font-size-base: 16px;
}

/* Add to existing styles */
body {
  font-size: var(--font-size-base);
}
